.main-container > h1 {
  font-size: 50pt;
}

.question > h2 {
  font-size: 30pt;
}
button {
  background-color: yellow;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 20pt;
  font-weight: bold;
  border-radius: 5px;
}
button:hover {
  background-color: red;
  color: white;
}

body {
  text-align: center;
  background-color: darkblue;
  font-family: "Courier New", Courier, monospace;
  color: white;
}
.score {
  color: red;
}
